<?xml version="1.0" encoding="UTF-8"?>
<config>
    <params>
        <size_h>50</size_h>
        <size_w>50</size_w>
        <round_long>180</round_long>
    </params>
    <units>
        <unit>
            <type>3</type>
            <pos_x>7</pos_x>
            <pos_y>13</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>27</pos_x>
            <pos_y>41</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>13</pos_x>
            <pos_y>38</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>16</pos_x>
            <pos_y>42</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>8</pos_x>
            <pos_y>19</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>11</pos_x>
            <pos_y>39</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>11</pos_x>
            <pos_y>30</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>17</pos_x>
            <pos_y>25</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>31</pos_x>
            <pos_y>10</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>29</pos_x>
            <pos_y>28</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>47</pos_x>
            <pos_y>11</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>0</pos_x>
            <pos_y>17</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>6</pos_x>
            <pos_y>43</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>38</pos_x>
            <pos_y>43</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>18</pos_x>
            <pos_y>26</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>7</pos_x>
            <pos_y>42</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>3</pos_x>
            <pos_y>38</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>33</pos_x>
            <pos_y>26</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>48</pos_x>
            <pos_y>20</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>28</pos_x>
            <pos_y>31</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>9</pos_x>
            <pos_y>4</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>19</pos_x>
            <pos_y>27</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>33</pos_x>
            <pos_y>33</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>35</pos_x>
            <pos_y>41</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>41</pos_x>
            <pos_y>13</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>36</pos_x>
            <pos_y>25</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>43</pos_x>
            <pos_y>39</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>12</pos_x>
            <pos_y>11</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>34</pos_x>
            <pos_y>25</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>36</pos_x>
            <pos_y>18</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>37</pos_x>
            <pos_y>6</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>26</pos_x>
            <pos_y>31</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>11</pos_x>
            <pos_y>28</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>17</pos_x>
            <pos_y>47</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>18</pos_x>
            <pos_y>37</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>0</pos_x>
            <pos_y>41</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>29</pos_x>
            <pos_y>42</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>25</pos_x>
            <pos_y>24</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>17</pos_x>
            <pos_y>34</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>32</pos_x>
            <pos_y>28</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>9</pos_x>
            <pos_y>24</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>24</pos_x>
            <pos_y>41</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>36</pos_x>
            <pos_y>6</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>4</pos_x>
            <pos_y>16</pos_y>
        </unit>
        <unit>
            <type>2</type>
            <pos_x>25</pos_x>
            <pos_y>3</pos_y>
        </unit>
        <unit>
            <type>3</type>
            <pos_x>31</pos_x>
            <pos_y>23</pos_y>
        </unit>
        <unit>
            <type>1</type>
            <pos_x>27</pos_x>
            <pos_y>20</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>14</pos_x>
            <pos_y>15</pos_y>
        </unit>
        <unit>
            <type>4</type>
            <pos_x>49</pos_x>
            <pos_y>19</pos_y>
        </unit>
        <unit>
            <type>0</type>
            <pos_x>24</pos_x>
            <pos_y>37</pos_y>
        </unit>
    </units>
</config>
